<ion-view hide-nav-bar="true">
    <ion-content scroll="false">
        <div id="i_example"><i class="ion-bug"></i>
        </div>
        <invader id='i1' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[1].invaderVisible"></invader>
        <invader id='i2' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[2].invaderVisible"></invader>
        <invader id='i3' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[3].invaderVisible"></invader>
        <invader id='i4' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[4].invaderVisible"></invader>
        <invader id='i5' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[5].invaderVisible"></invader>
        <invader id='i6' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[6].invaderVisible"></invader>
        <invader id='i7' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[7].invaderVisible"></invader>
        <invader id='i8' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[8].invaderVisible"></invader>
        <invader id='i9' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[9].invaderVisible"></invader>
        <invader id='i10' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[10].invaderVisible"></invader>
        <invader id='i11' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[11].invaderVisible"></invader>
        <invader id='i12' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[12].invaderVisible"></invader>
        <invader id='i13' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[13].invaderVisible"></invader>
        <invader id='i14' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[14].invaderVisible"></invader>
        <invader id='i15' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[15].invaderVisible"></invader>
        <invader id='i16' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[16].invaderVisible"></invader>
        <invader id='i17' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[17].invaderVisible"></invader>
        <invader id='i18' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[18].invaderVisible"></invader>
        <invader id='i19' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[19].invaderVisible"></invader>
        <invader id='i20' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[20].invaderVisible"></invader>
        <invader id='i21' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[21].invaderVisible"></invader>
        <invader id='i22' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[22].invaderVisible"></invader>
        <invader id='i23' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[23].invaderVisible"></invader>
        <invader id='i24' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[24].invaderVisible"></invader>
        <invader id='i25' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[25].invaderVisible"></invader>
        <invader id='i26' class="invader-show-hide init" ng-class="ng-hide" ng-show="ukraine[26].invaderVisible"></invader>
        <div id='f1' class="invader-flag init" ng-class="ng-hide" ng-show="ukraine[1].captured"></div>
        <div id='f2' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[2].captured"></div>
        <div id='f3' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[3].captured"></div>
        <div id='f4' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[4].captured"></div>
        <div id='f5' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[5].captured"></div>
        <div id='f6' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[6].captured"></div>
        <div id='f7' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[7].captured"></div>
        <div id='f8' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[8].captured"></div>
        <div id='f9' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[9].captured"></div>
        <div id='f10' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[10].captured"></div>
        <div id='f11' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[11].captured"></div>
        <div id='f12' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[12].captured"></div>
        <div id='f13' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[13].captured"></div>
        <div id='f14' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[14].captured"></div>
        <div id='f15' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[15].captured"></div>
        <div id='f16' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[16].captured"></div>
        <div id='f17' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[17].captured"></div>
        <div id='f18' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[18].captured"></div>
        <div id='f19' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[19].captured"></div>
        <div id='f20' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[20].captured"></div>
        <div id='f21' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[21].captured"></div>
        <div id='f22' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[22].captured"></div>
        <div id='f23' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[23].captured"></div>
        <div id='f24' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[24].captured"></div>
        <div id='f25' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[25].captured"></div>
        <div id='f26' class="invader-flag" ng-class="ng-hide" ng-show="ukraine[26].captured"></div>
        <div class="badge badge-assertive score">{{ score }}</div>
        <div ukraine id="map"></div>
    </ion-content>
</ion-view>
<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>
      Game Over
    </ion-content>
  </ion-modal-view>
</script>