.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
#logo {
    margin: 30px 0px;
}
#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}
.country {
    fill: #E7E7E7;
    stroke: none;
}
.country-boundary {
    fill: none;
    stroke: #999;
}
.region {
    stroke: none;
}
.region-boundary {
    fill: none;
    stroke: #424242;
    stroke-dasharray: 2 2;
    stroke-linejoin: round;
    opacity: 0.5;
}
.ukraine-boundary {
    fill: none;
    stroke: #333;
}
.river {
    fill: none;
    stroke: #fff;
}
.lake {
    fill: #fff;
    stroke: none;
}
#map {
    width: 100%;
    margin: auto;
}
.score {
    position: absolute;
    top: 1%;
    right: 1%;
}
invader {
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 14vh;
    width: 16vh;
    height: 16vh;
    text-align: center;
    margin-top: 1vh;
}
defender {
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 14vh;
    width: 16vh;
    height: 16vh;
    text-align: center;
    margin-top: 1vh;
}
#i_example {
    visibility: hidden;
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 8vh;
    width: 16vh;
    height: 16vh;
    text-align: center;
    margin-top: 1vh;
}
.circle {
    width: 16vh;
    height: 16vh;
    background: red;
    -moz-border-radius: 8vh;
    -webkit-border-radius: 8vh;
    border-radius: 8vh;
}
defender .circle {
    width: 16vh;
    height: 16vh;
    background: green;
    -moz-border-radius: 8vh;
    -webkit-border-radius: 8vh;
    border-radius: 8vh;
}
/*
.invader-show-hide {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.invader-show-hide.ng-hide {
    opacity: 0;
}
.defender-show-hide {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.defender-show-hide.ng-hide {
    opacity: 0;
}
*/
.invader-flag {
    width:  10vh;
    height: 6vh;
    position: absolute;
    top: 2%;
    left: 2%;
    background-image: url(/img/125px-Flag_of_Russia.svg.png);
    background-size: contain;
}
.center{
     text-align:center;
}